<h2>Навигация по сайту</h2>
  
  
      <div class="dropdown">
        <button onclick="buttonClick()" class="dropbtn">Животные</button>
        <div id="myDropdown" class="dropdown-content">
          <a href="Bears">Медведи</a> 
          <a href="Artiodactyls">Парнокопытные</a>
          <a href="Dogs">Псовые</a>
          <a href="Rodents">Грызуны</a>
        </div>
      </div>
       
      <div class="dropdown2">
        <button onclick="buttonClick2()" class="dropbtn2">Прочее</button>
        <div id="myDropdown2" class="dropdown-content2">
          <a href="Main">Главная страница</a>
          <button id="rndLink">
        </div>
      </div>
  