<div class="nav-max">
    <div class="Back">
        Back
    </div>
    <div class="Next">
        Next
    </div>
</div>

<div class="nav-min">
    <div class="Back">
        Back
    </div>
    <div class="Next">
        Next
    </div>
</div>