<!DOCTYPE html>
<html lang="en" class="">

<head>

    <meta charset="UTF-8">
    <title>Error 404</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style_error.css" />
    <link rel="icon" href="icon_error.ico">

</head>

<body>

    {{{body}}}

</body>

</html>