<p id="pageDescription"id="someTable" class="hidden"></p>
      <div id="advertising"></div>
            <table class="a" id="rndclr">
                <tr>
                  <td>Название</td>
                  <td>Фотография</td>
                  <td>Информация</td>
                  <td>Ссылка</td>
                </tr>
                <tr>
                    <td>Лось</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Moose_superior.jpg/275px-Moose_superior.jpg"></td>
                    <td>
                        Ло́си — род парнокопытных млекопитающих,<br>
                         самые крупные представители семейства оленевых<br>
                        Включает 2 вида: европейский лось и американский лось,<br>
                        которые имеют разное число хромосом (68 и 70, соответственно).
                    </td>
                    <td><a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%BE%D1%81%D0%B8" target="-blank">Википедия</a></td>
                </tr>
                <tr>
                    <td>Олень</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Family_Cervidae_five_species.jpg/275px-Family_Cervidae_five_species.jpg"></td>
                    <td>
                        Оле́невые, или оле́ньи, или оле́ни — семейство парнокопытных млекопитающих,<br>
                        содержащее 51 современный вид.<br>
                        Оленевые распространены в Евразии, Северной и Южной Америке, <br>
                        а также были завезены человеком в Австралию и Новую Зеландию.
                    </td>
                    <td><a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%BB%D0%B5%D0%BD%D0%B5%D0%B2%D1%8B%D0%B5" target="-blank">Википедия</a></td>
                </tr>
            </table>
            <div id="userTable"></div>
            <button id="contentButton" onclick="addcontent()">Добавить</button>