
      <p id="pageDescription"id="someTable" class="hidden"></p>
      <div id="advertising"></div>
            <table class="c" id="rndclr">
                <tr>
                  <td>Название</td>
                  <td>Фотография</td>
                  <td>Информация</td>
                  <td>Ссылка</td>
                </tr>
                <tr>
                    <td>Волк</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Canis_lupus_265b.jpg/275px-Canis_lupus_265b.jpg"></td>
                    <td class="vis">
                        Волк, или се́рый волк, или обыкнове́нный волк  — <br>
                        вид хищных млекопитающих из семейства псовых<br>
                        Наряду с койотом, обыкновенным шакалом и <br>
                        ещё несколькими видами составляет род волков<br>
                    </td>
                    <td><a href="https://ru.wikipedia.org/wiki/%D0%92%D0%BE%D0%BB%D0%BA" target="-blank">Википедия</a></td>
                </tr>
                <tr>
                    <td>Лисица</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Tiergarten_Worms_Rotfuchs_2011.JPG/265px-Tiergarten_Worms_Rotfuchs_2011.JPG"></td>
                    <td>
                        Лиси́ца — это хищное млекопитающее, <br>
                        относится к отряду хищные, семейству псовые. <br>
                        Латинское название рода лисицы, по всей видимости,<br>
                         произошло от искаженных слов: латинского «lupus» и немецкого «Wolf»,<br> переводящихся как «волк».
                    </td>
                    <td><a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B8%D1%81%D0%B8%D1%86%D0%B0" target="-blank">Википедия</a></td>
                </tr>
            </table>
            <div id="userTable"></div>
            <button id="contentButton" onclick="addcontent()">Добавить</button>
