
      <div id="advertising"></div>
            <p id="rndclr">
                Леса — это легкие нашей планеты, которые очищают воздух.
                Также миссией лесов является поддержка водного баланса земли, с целью предотвращения засухи. 
                Наибольшее количество уникальных животных и растений находится на территории лесных массивов.
                Млекопитающие находят себе пропитание и убежище, а растения осуществляют фотосинтез. 
                Все выделяют порядка 3 основных видов леса, которые отличаются своей флорой, фауной, территорией и климатическими условиями.
                К ним относятся: бореальные леса, тропические леса и умеренные леса. 
            </p>
            <p id="someTable">
            </p>
            <p id="pageDescription">Главная страница содержит информацию о других страницах</p>

<form action="/MainUserTable" method="post">
    <input type="text" name="name" placeholder="Наименование">
    <input type="text" name="description" placeholder="Описание">
    <input type="submit" value="Отправить">
  </form>

<table id="userTable">
  <tr class="boldHere">
    <td>Наименование</td>
    <td>Описание</td>
  </tr>
  {{#each components}}
  <tr>
    <td>{this.name}</td>
    <td>{{this.description}}</td>
  </tr>
  {{/each}}
</table>