
      <p id="pageDescription"id="someTable" class="hidden"></p>
      <div id="advertising"></div>
            <table class="d" id="rndclr">
                <tr>
                  <td>Название</td>
                  <td>Фотография</td>
                  <td>Информация</td>
                  <td>Ссылка</td>
                </tr>
                <tr>
                    <td>Белка</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/MattiParkkonen_Orava.jpg/120px-MattiParkkonen_Orava.jpg"></td>
                    <td>
                        Бе́лки (лат. Sciurus) — род грызунов семейства беличьих.<br>
                         Кроме собственно рода Sciurus, белками называют ещё целый ряд <br>
                         представителей семейства беличьих из родов красные белки (Tamiasciurus),<br>
                          пальмовые белки (Funambulus) и многих других.<br>
                           Что касается собственно рода Sciurus,<br>
                            то он объединяет в себя около 30 видов, <br>
                            распространённых в Европе,<br>
                             Северной и Южной Америке и в умеренном поясе Азии.
                    </td>
                    <td><a href="https://ru.wikipedia.org/wiki/%D0%91%D0%B5%D0%BB%D0%BA%D0%B0" target="-blank" class="color">Википедия</a></td>
                </tr>
                <tr>
                    <td>Бобр</td>
                    <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Beaver_pho34.jpg/275px-Beaver_pho34.jpg"></td>
                    <td>
                        Обыкнове́нный бобр — полуводное млекопитающее отряда грызунов;<br>
                        один из двух современных представителей семейства бобровых.<br>
                        Второй по величине грызун после капибары.
                    </td>
                    <td><a href="https://ru.wikipedia.org/wiki/%D0%9E%D0%B1%D1%8B%D0%BA%D0%BD%D0%BE%D0%B2%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9_%D0%B1%D0%BE%D0%B1%D1%80" target="-blank">Википедия</a></td>
                </tr>
            </table>
            <div id="userTable"></div>
            <button id="contentButton" onclick="addcontent()">Добавить</button>
