            <button>
                <a href="http://localhost:3000/info">info</a>
            </button>
            <button>
                <a href="http://localhost:3000/content">content</a>
            </button>
            <button>
                <a href="http://localhost:3000/home">home</a>
            </button>