<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="rasbery, raspbery, rasberry, raspberry, Rasbery, Raspbery, Rasberry, Raspberry, установка, краткое описание, настрока, первый запуск, история, ттх, тех, характеристики, технические, возвожности, Pi, pi, BitTorrent, Sync">
    <meta name="description"
          content="краткое описание платформы Raspberry Pi, история, первый запуск, технические характеристики и возможности, настройка BitTorrent Sync">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Индивидуальное 2</title>

    <!-- Подключаем Bootstrap CSS через CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Подключаем style.css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style_indiv.css" rel="stylesheet">

</head>
<body>

    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/script_indiv.js"></script>
</body>
</html>