<footer>
    <table>
        <tr>
            <td><a href="#">Основные ссылки</a></td>
            <td><a href="#">Контактная информация</a></td>
            <td><a href="#">Соц сети</a></td>
        </tr>
        <tr>
            <td><a href="index.html">Роботехника</a></td>
            <td><a href="#">8 (800) 555-35-35</a></td>
            <td><a href="#">VK</a></td>
        </tr>
        <tr>
            <td><a href="arduino.html">Ардуино</a></td>
            <td><a href="#">8 (800) 555-35-35</a></td>
            <td><a href="#">Twitter</a></td>
        </tr>
        <tr>
            <td><a href="raspberry.html">Raspberry Pi</a></td>
            <td><a href="#">8 (800) 555-35-35</a></td>
            <td><a href="#">Instagram</a></td>
        </tr>
    </table>
</footer>